In [1]:
import os
import pandas as pd
import evadb
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
cursor = evadb.connect().cursor()

In [3]:
create_function_query = f"""CREATE FUNCTION IF NOT EXISTS ChatWithPandas
            IMPL  './functions/semantic_cache.py';
            """
cursor.query("DROP FUNCTION IF EXISTS ChatWithPandas;").execute()
cursor.query(create_function_query).execute()

In [4]:
create_table_query = f"""
CREATE TABLE IF NOT EXISTS CARSDATA(
id INTEGER,
name TEXT(30),
mpg INTEGER,
cyl FLOAT(64,64),
disp FLOAT(64,64),
hp FLOAT(64,64),
drat FLOAT(64,64),
wt FLOAT(64,64),
qsec FLOAT(64,64),
vs FLOAT(64,64),
am FLOAT(64,64),
gear FLOAT(64,64),
carb FLOAT(64,64)
);
"""
load_data_query = f""" LOAD CSV 'data/cars.csv' INTO CARSDATA;"""

In [5]:
cursor.query(create_table_query).execute()
cursor.query(load_data_query).execute()

10-17-2023 11:02:06 WARNING[executor_utils:executor_utils.py:handle_if_not_exists:0090] Table: CARSDATA already exists

In [6]:
chat_query1 = f""" SELECT ChatWithPandas('what is the maximum of the gear column',gear) FROM CARSDATA;"""
result1 = cursor.query(chat_query1).execute()
print(result1)

                  chatwithpandas.response
0  The maximum of the gear column is 5.0.

In [7]:
res = cursor.query("SELECT ChatWithPandas('what would it be if we multiple by 100 and then add 3', gear) FROM CARSDATA;").execute()

In [8]:
print(res)

                                                       chatwithpandas.response
0  The maximum of the gear column multiplied by 100 and then added 3 is 503.0.

In [9]:
chat_query1 = f""" SELECT ChatWithPandas('what are the top car with maximum carb value',name,carb) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                   chatwithpandas.response
0  The top cars with maximum carb value are Maserati Bora.

In [10]:
chat_query1 = f""" SELECT ChatWithPandas('what is the gear for this car that we talked about in the last query',name,gear) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                        chatwithpandas.response
0  The gear for the car we talked about in the last query is 5.

df is:                                     0  carb
0     what is the mean of carh column   4.0
1     what is the mean of carh column   4.0
2     what is the mean of carh column   1.0
3     what is the mean of carh column   1.0
4     what is the mean of carh column   2.0
...                               ...   ...
2395  what is the mean of carh column   2.0
2396  what is the mean of carh column   4.0
2397  what is the mean of carh column   6.0
2398  what is the mean of carh column   8.0
2399  what is the mean of carh column   2.0

[2400 rows x 2 columns]
req_df is:       carb
0      4.0
1      4.0
2      1.0
3      1.0
4      2.0
...    ...
2395   2.0
2396   4.0
2397   6.0
2398   8.0
2399   2.0

[2400 rows x 1 columns]
self is       carb
0      4.0
1      4.0
2      1.0
3      1.0
4      2.0
...    ...
2395   2.0
2396   4.0
2397   6.0
2398   8.0
2399   2.0

[2400 rows x 1 columns]
FULL LOG: {'input': 'Previous query: {\'query\': \'what is the gear for this car that we talked about in the last query\', \'response\': \'The gear for the car with the maximum carb value is 5.0.\', \'command\': "df[df[\'name\'] == \'Maserati Bora\'][\'gear\']"}Current query: what is the mean of carh column', 'output': 'The mean of the carb column is 2.8125.', 'intermediate_steps': [(AgentAction(tool='python_repl_ast', tool_input="df['carb'].mean()", log="Thought: I need to calculate the mean of the carb column\nAction: python_repl_ast\nAction Input: df['carb'].mean()"), 2.8125)]}
Thought: I need to calculate the mean of the carb column
Action: python_repl_ast
Action Input: df['carb'].mean()
                  chatwithpandas.response
0  The mean of the carb column is 2.8125.