In [1]:
import os
import pandas as pd
import evadb
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
cursor = evadb.connect().cursor()

In [3]:
create_function_query = f"""CREATE FUNCTION IF NOT EXISTS ChatWithPandas
            IMPL  './functions/semantic_cache.py';
            """
cursor.query("DROP FUNCTION IF EXISTS ChatWithPandas;").execute()
cursor.query(create_function_query).execute()

In [4]:
create_table_query = f"""
CREATE TABLE IF NOT EXISTS CARSDATA(
id INTEGER,
name TEXT(30),
mpg INTEGER,
cyl FLOAT(64,64),
disp FLOAT(64,64),
hp FLOAT(64,64),
drat FLOAT(64,64),
wt FLOAT(64,64),
qsec FLOAT(64,64),
vs FLOAT(64,64),
am FLOAT(64,64),
gear FLOAT(64,64),
carb FLOAT(64,64)
);
"""
load_data_query = f""" LOAD CSV 'data/cars.csv' INTO CARSDATA;"""

In [5]:
cursor.query(create_table_query).execute()
cursor.query(load_data_query).execute()

10-10-2023 19:29:24 WARNING[executor_utils:executor_utils.py:handle_if_not_exists:0090] Table: CARSDATA already exists

In [17]:
chat_query1 = f""" SELECT ChatWithPandas('what is the maximum of the gear column',gear) FROM CARSDATA;"""
result1 = cursor.query(chat_query1).execute()
print(result1)

df is:                                            0  gear
0     what is the maximum of the gear column   4.0
1     what is the maximum of the gear column   4.0
2     what is the maximum of the gear column   4.0
3     what is the maximum of the gear column   3.0
4     what is the maximum of the gear column   3.0
...                                      ...   ...
2395  what is the maximum of the gear column   5.0
2396  what is the maximum of the gear column   5.0
2397  what is the maximum of the gear column   5.0
2398  what is the maximum of the gear column   5.0
2399  what is the maximum of the gear column   4.0

[2400 rows x 2 columns]
req_df is:       gear
0      4.0
1      4.0
2      4.0
3      3.0
4      3.0
...    ...
2395   5.0
2396   5.0
2397   5.0
2398   5.0
2399   4.0

[2400 rows x 1 columns]
self is       gear
0      4.0
1      4.0
2      4.0
3      3.0
4      3.0
...    ...
2395   5.0
2396   5.0
2397   5.0
2398   5.0
2399   4.0

[2400 rows x 1 columns]
FULL LOG: {'input': 'Previous query: {\'query\': \'what is the mean of carh column\', \'response\': \'The mean of the carb column is 2.8125.\', \'command\': "df[\'carb\'].mean()"}Current query: what is the maximum of the gear column', 'output': 'The maximum of the gear column is 5.0.', 'intermediate_steps': [(AgentAction(tool='python_repl_ast', tool_input="df['gear'].max()", log="Thought: I need to find the maximum value of the gear column\nAction: python_repl_ast\nAction Input: df['gear'].max()"), 5.0)]}
Thought: I need to find the maximum value of the gear column
Action: python_repl_ast
Action Input: df['gear'].max()
                  chatwithpandas.response
0  The maximum of the gear column is 5.0.

In [18]:
res = cursor.query("SELECT ChatWithPandas('what would it be if we multiple by 100 and then add 3', gear) FROM CARSDATA;").execute()

df is:                                                       0  gear
0     what would it be if we multiple by 100 and the...   4.0
1     what would it be if we multiple by 100 and the...   4.0
2     what would it be if we multiple by 100 and the...   4.0
3     what would it be if we multiple by 100 and the...   3.0
4     what would it be if we multiple by 100 and the...   3.0
...                                                 ...   ...
2395  what would it be if we multiple by 100 and the...   5.0
2396  what would it be if we multiple by 100 and the...   5.0
2397  what would it be if we multiple by 100 and the...   5.0
2398  what would it be if we multiple by 100 and the...   5.0
2399  what would it be if we multiple by 100 and the...   4.0

[2400 rows x 2 columns]
req_df is:       gear
0      4.0
1      4.0
2      4.0
3      3.0
4      3.0
...    ...
2395   5.0
2396   5.0
2397   5.0
2398   5.0
2399   4.0

[2400 rows x 1 columns]
self is       gear
0      4.0
1      4.0
2      4.0
3      3.0
4      3.0
...    ...
2395   5.0
2396   5.0
2397   5.0
2398   5.0
2399   4.0

[2400 rows x 1 columns]
FULL LOG: {'input': 'Previous query: {\'query\': \'what is the maximum of the gear column\', \'response\': \'The maximum of the gear column is 5.0.\', \'command\': "df[\'gear\'].max()"}Current query: what would it be if we multiple by 100 and then add 3', 'output': 'The maximum of the gear column multiplied by 100 and then added 3 is 503.0.', 'intermediate_steps': [(AgentAction(tool='python_repl_ast', tool_input="df['gear'].max() * 100 + 3", log="Thought: I need to use the python_repl_ast tool to execute a command\nAction: python_repl_ast\nAction Input: df['gear'].max() * 100 + 3"), 503.0)]}
Thought: I need to use the python_repl_ast tool to execute a command
Action: python_repl_ast
Action Input: df['gear'].max() * 100 + 3

In [19]:
print(res)

                                                       chatwithpandas.response
0  The maximum of the gear column multiplied by 100 and then added 3 is 503.0.

In [14]:
chat_query1 = f""" SELECT ChatWithPandas('what are the top car with maximum carb value',name,carb) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

df is:                                                  0               name  carb
0     what are the top car with maximum carb value          Mazda RX4   4.0
1     what are the top car with maximum carb value      Mazda RX4 Wag   4.0
2     what are the top car with maximum carb value         Datsun 710   1.0
3     what are the top car with maximum carb value     Hornet 4 Drive   1.0
4     what are the top car with maximum carb value  Hornet Sportabout   2.0
...                                            ...                ...   ...
2395  what are the top car with maximum carb value       Lotus Europa   2.0
2396  what are the top car with maximum carb value     Ford Pantera L   4.0
2397  what are the top car with maximum carb value       Ferrari Dino   6.0
2398  what are the top car with maximum carb value      Maserati Bora   8.0
2399  what are the top car with maximum carb value         Volvo 142E   2.0

[2400 rows x 3 columns]
req_df is:                    name  carb
0             Mazda RX4   4.0
1         Mazda RX4 Wag   4.0
2            Datsun 710   1.0
3        Hornet 4 Drive   1.0
4     Hornet Sportabout   2.0
...                 ...   ...
2395       Lotus Europa   2.0
2396     Ford Pantera L   4.0
2397       Ferrari Dino   6.0
2398      Maserati Bora   8.0
2399         Volvo 142E   2.0

[2400 rows x 2 columns]
self is                    name  carb
0             Mazda RX4   4.0
1         Mazda RX4 Wag   4.0
2            Datsun 710   1.0
3        Hornet 4 Drive   1.0
4     Hornet Sportabout   2.0
...                 ...   ...
2395       Lotus Europa   2.0
2396     Ford Pantera L   4.0
2397       Ferrari Dino   6.0
2398      Maserati Bora   8.0
2399         Volvo 142E   2.0

[2400 rows x 2 columns]
FULL LOG: {'input': 'Previous query: {\'query\': \'what is the gear for this car\', \'response\': \'The gear for Mazda RX4 is 4.\', \'command\': "df[df[\'name\'] == \'Mazda RX4\'][\'gear\']"}Current query: what are the top car with maximum carb value', 'output': 'The car with the maximum carb value is Maserati Bora with 8.0.', 'intermediate_steps': [(AgentAction(tool='python_repl_ast', tool_input="df.sort_values(by='carb', ascending=False).head(1)", log="\nThought: I need to find the maximum carb value and the corresponding car name\nAction: python_repl_ast\nAction Input: df.sort_values(by='carb', ascending=False).head(1)"),                name  carb
1438  Maserati Bora   8.0)]}

Thought: I need to find the maximum carb value and the corresponding car name
Action: python_repl_ast
Action Input: df.sort_values(by='carb', ascending=False).head(1)
                                          chatwithpandas.response
0  The car with the maximum carb value is Maserati Bora with 8.0.

In [15]:
chat_query1 = f""" SELECT ChatWithPandas('what is the gear for this car that we talked about in the last query',name,gear) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

df is:                                                       0               name  \
0     what is the gear for this car that we talked a...          Mazda RX4
1     what is the gear for this car that we talked a...      Mazda RX4 Wag
2     what is the gear for this car that we talked a...         Datsun 710
3     what is the gear for this car that we talked a...     Hornet 4 Drive
4     what is the gear for this car that we talked a...  Hornet Sportabout
...                                                 ...                ...
2395  what is the gear for this car that we talked a...       Lotus Europa
2396  what is the gear for this car that we talked a...     Ford Pantera L
2397  what is the gear for this car that we talked a...       Ferrari Dino
2398  what is the gear for this car that we talked a...      Maserati Bora
2399  what is the gear for this car that we talked a...         Volvo 142E

      gear
0      4.0
1      4.0
2      4.0
3      3.0
4      3.0
...    ...
2395   5.0
2396   5.0
2397   5.0
2398   5.0
2399   4.0

[2400 rows x 3 columns]
req_df is:                    name  gear
0             Mazda RX4   4.0
1         Mazda RX4 Wag   4.0
2            Datsun 710   4.0
3        Hornet 4 Drive   3.0
4     Hornet Sportabout   3.0
...                 ...   ...
2395       Lotus Europa   5.0
2396     Ford Pantera L   5.0
2397       Ferrari Dino   5.0
2398      Maserati Bora   5.0
2399         Volvo 142E   4.0

[2400 rows x 2 columns]
self is                    name  gear
0             Mazda RX4   4.0
1         Mazda RX4 Wag   4.0
2            Datsun 710   4.0
3        Hornet 4 Drive   3.0
4     Hornet Sportabout   3.0
...                 ...   ...
2395       Lotus Europa   5.0
2396     Ford Pantera L   5.0
2397       Ferrari Dino   5.0
2398      Maserati Bora   5.0
2399         Volvo 142E   4.0

[2400 rows x 2 columns]
FULL LOG: {'input': 'Previous query: {\'query\': \'what are the top car with maximum carb value\', \'response\': \'The car with the maximum carb value is Maserati Bora with 8.0.\', \'command\': "df.sort_values(by=\'carb\', ascending=False).head(1)"}Current query: what is the gear for this car that we talked about in the last query', 'output': 'The gear for the car with the maximum carb value is 5.0.', 'intermediate_steps': [(AgentAction(tool='python_repl_ast', tool_input="df[df['name'] == 'Maserati Bora']['gear']", log="Thought: I need to find the gear value for the car with the maximum carb value\nAction: python_repl_ast\nAction Input: df[df['name'] == 'Maserati Bora']['gear']"), 30      5.0
62      5.0
94      5.0
126     5.0
158     5.0
       ...
2270    5.0
2302    5.0
2334    5.0
2366    5.0
2398    5.0
Name: gear, Length: 75, dtype: float64)]}
Thought: I need to find the gear value for the car with the maximum carb value
Action: python_repl_ast
Action Input: df[df['name'] == 'Maserati Bora']['gear']
                                    chatwithpandas.response
0  The gear for the car with the maximum carb value is 5.0.

In [16]:
chat_query1 = f""" SELECT ChatWithPandas('what is the mean of carh column',carb) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

df is:                                     0  carb
0     what is the mean of carh column   4.0
1     what is the mean of carh column   4.0
2     what is the mean of carh column   1.0
3     what is the mean of carh column   1.0
4     what is the mean of carh column   2.0
...                               ...   ...
2395  what is the mean of carh column   2.0
2396  what is the mean of carh column   4.0
2397  what is the mean of carh column   6.0
2398  what is the mean of carh column   8.0
2399  what is the mean of carh column   2.0

[2400 rows x 2 columns]
req_df is:       carb
0      4.0
1      4.0
2      1.0
3      1.0
4      2.0
...    ...
2395   2.0
2396   4.0
2397   6.0
2398   8.0
2399   2.0

[2400 rows x 1 columns]
self is       carb
0      4.0
1      4.0
2      1.0
3      1.0
4      2.0
...    ...
2395   2.0
2396   4.0
2397   6.0
2398   8.0
2399   2.0

[2400 rows x 1 columns]
FULL LOG: {'input': 'Previous query: {\'query\': \'what is the gear for this car that we talked about in the last query\', \'response\': \'The gear for the car with the maximum carb value is 5.0.\', \'command\': "df[df[\'name\'] == \'Maserati Bora\'][\'gear\']"}Current query: what is the mean of carh column', 'output': 'The mean of the carb column is 2.8125.', 'intermediate_steps': [(AgentAction(tool='python_repl_ast', tool_input="df['carb'].mean()", log="Thought: I need to calculate the mean of the carb column\nAction: python_repl_ast\nAction Input: df['carb'].mean()"), 2.8125)]}
Thought: I need to calculate the mean of the carb column
Action: python_repl_ast
Action Input: df['carb'].mean()
                  chatwithpandas.response
0  The mean of the carb column is 2.8125.