In [1]:
import sys
print(sys.executable)

import os
import pandas as pd
import evadb
import matplotlib.pyplot as plt
%matplotlib notebook

/Users/koselev/Desktop/CS6422-DSI/evadb-project/pandas-ai-integration/evadb-venv/bin/python3.10

In [2]:
cursor = evadb.connect().cursor()

In [3]:
create_function_query = f"""CREATE FUNCTION IF NOT EXISTS ChatWithPandas
            IMPL  './functions/semantic_cache.py';
            """
cursor.query("DROP FUNCTION IF EXISTS ChatWithPandas;").execute()
cursor.query(create_function_query).execute()

In [4]:
create_table_query = f"""
CREATE TABLE IF NOT EXISTS CARSDATA(
id INTEGER,
name TEXT(30),
mpg INTEGER,
cyl FLOAT(64,64),
disp FLOAT(64,64),
hp FLOAT(64,64),
drat FLOAT(64,64),
wt FLOAT(64,64),
qsec FLOAT(64,64),
vs FLOAT(64,64),
am FLOAT(64,64),
gear FLOAT(64,64),
carb FLOAT(64,64)
);
"""
load_data_query = f""" LOAD CSV 'data/cars.csv' INTO CARSDATA;"""

In [5]:
cursor.query(create_table_query).execute()
cursor.query(load_data_query).execute()

11-25-2023 12:55:53 WARNING[executor_utils:executor_utils.py:handle_if_not_exists:0094] Table: CARSDATA already exists

In [6]:
chat_query1 = f""" SELECT ChatWithPandas('what is the maximum of the gear column',gear) FROM CARSDATA;"""
result1 = cursor.query(chat_query1).execute()
print(result1)

                                 response
0  The maximum of the gear column is 5.0.

In [7]:
res = cursor.query("SELECT ChatWithPandas('what would it be if we multiple by 100 and then add 3', gear) FROM CARSDATA;").execute()

In [8]:
print(res)

                                                                      response
0  The maximum of the gear column multiplied by 100 and then added 3 is 503.0.

In [9]:
chat_query1 = f""" SELECT ChatWithPandas('what are the top car with maximum carb value',name,carb) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                                  response
0  The top cars with maximum carb value are Maserati Bora.

In [10]:
chat_query1 = f""" SELECT ChatWithPandas('what is the gear for this car that we talked about in the last query',name,gear) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                                       response
0  The gear for the car we talked about in the last query is 5.

In [11]:
chat_query1 = f""" SELECT ChatWithPandas('what is the gear for this car that we talked about in the last query',name,gear) FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                                               response
0  Cached: The gear for the car we talked about in the last query is 5.

In [12]:
chat_query1 = f""" SELECT ChatWithPandas('give me the maximum carb car',name,carb)  FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                                          response
0  Cached: The top cars with maximum carb value are Maserati Bora.

In [14]:
chat_query1 = f""" SELECT ChatWithPandas('what was the result of multiplication and addition on the gear value',gear)  FROM CARSDATA;"""
print(cursor.query(chat_query1).execute())

                                                                              response
0  Cached: The maximum of the gear column multiplied by 100 and then added 3 is 503.0.

In [15]:
chat_query1 = f""" SELECT ChatWithPandas('what is the mean of the gear column',gear) FROM CARSDATA;"""
result1 = cursor.query(chat_query1).execute()
print(result1)

                                 response
0  The mean of the gear column is 3.6875.

In [16]:
chat_query1 = f""" SELECT ChatWithPandas('what is the avereage gear',gear) FROM CARSDATA;"""
result1 = cursor.query(chat_query1).execute()
print(result1)

                                         response
0  Cached: The mean of the gear column is 3.6875.